.round-editor {
    display: grid;
    grid-template-rows: auto repeat(5, minmax(0, 1fr));
    grid-auto-flow: column;
    gap: 0.5rem;
    column-gap: 3rem;

    block-size: 100%;
    min-block-size: 0;
    inline-size: 100%;
    min-inline-size: 0;

    place-items: center;
    justify-self: center;
}
