.scopa-editor {
    position: fixed;
    inset: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    pointer-events: auto;
    display: block;
}

.scopa-editor__buttons-dialog {
    position: absolute;

    inset-block-start: 30%;
    inset-inline-start: 50%;
    translate: -50% -80%;

    display: grid;
    grid-template-rows: minmax(0, 1fr) auto;
    gap: 0.5rem;
    justify-items: center;

    margin: 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.scopa-editor__actions-panel {
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    gap: 1rem;
}

.scopa-editor__buttons-panel {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    border-radius: 8px;
}
