.team-names-editor {
    display: flex;
    flex-direction: column;
    min-block-size: 0;
    gap: 1rem;
    position: relative;
}

.team-names-editor__name-input {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.team-names-editor__teams-list-wrapper {
    overflow-y: auto;
    min-block-size: 0;
}

.team-names-editor__teams-list {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    gap: 0.5rem;
}

.team-names-editor__error {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    margin-top: 0.25rem;

    color: var(--color-warning);
    white-space: nowrap;
}
