.cards-icon {
    opacity: 50%;
}

.cards-icon.disabled {
    opacity: 20%;
}

.cards-icon.checked {
    opacity: 100%;
}

.cards-icon playing-card img {
    height: 85px;
    width: 85px;
}

.cards-icon playing-card {
    transform-origin: center center;
}

.cards-icon playing-card.card-1-of-1 {
    transform: translateY(10px);
}

.cards-icon playing-card.card-1-of-3 {
    transform: translate(75px, 15px) rotate(-15deg);
}

.cards-icon playing-card.card-2-of-3 {
    transform: translate(0, 10px);
}

.cards-icon playing-card.card-3-of-3 {
    transform: translate(-75px, 15px) rotate(15deg);
}
  
.cards-icon playing-card.card-1-of-4 {
    transform: translate(100px, 25px) rotate(-20deg);
}

.cards-icon playing-card.card-2-of-4 {
    transform: translate(30px, 10px) rotate(-7deg);
}

.cards-icon playing-card.card-3-of-4 {
    transform: translate(-30px, 10px) rotate(7deg);
}

.cards-icon playing-card.card-4-of-4 {
    transform: translate(-100px, 25px) rotate(20deg);
}
