.scopa_header {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.scopa_header .icon {
    justify-self: start;
    anchor-name: --scopa-header-menu-icon;
}

.scopa_header .glow {
    justify-self: center;
}

.scopa_header .glow * {
    font-size: 2rem;
}

.scopa_header_popover_menu {
    justify-items: center;
    justify-content: space-between;
    gap: 15px;
    background-color: var(--control-colour);
    border: none;
    position: absolute;
    position-anchor: --scopa-header-menu-icon;
    margin: 0;
    inset: auto;
    top: anchor(bottom);
    left: anchor(left);
    margin-block-start: 10px;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition:
        display 250ms,
        opacity 250ms;
    transition-behavior: allow-discrete;
}

.scopa_header_popover_menu:popover-open {
    position: absolute;
    left: 5%;
    top: 2rem;

    display: grid;
    opacity: 1;
}

.scopa_header * img.flag {
    border: solid ghostwhite;
    height: 20px;
}

.scopa_header > nav > button {
    position: absolute;
    left: 5%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .scopa_header .glow * {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 767px) {
    .scopa_header .glow * {
        font-size: 1.5rem;
    }
}
