.cards-image {
    opacity: 50%;
}

.cards-image:hover {
    opacity: 70%;
}

.cards-image.disabled {
    opacity: 20%;
}

.cards-image.checked {
    opacity: 100%;
}

.cards-image img {
    height: 10svh;
}
