.points-group-image {
    position: relative;
    opacity: 50%;
    block-size: 100%;
    min-block-size: 0;
    min-inline-size: 0;
    max-block-size: 64px;
    max-inline-size: 64px;
    aspect-ratio: 1/1;
}

.points-group-image:hover {
    opacity: 70%;
}

.points-group-image.disabled {
    opacity: 20%;
}

.points-group-image.checked {
    opacity: 100%;
}

.points-group-image img {
    block-size: 100%;
    inline-size: 100%;
    min-block-size: 0;
    min-inline-size: 0;
    max-block-size: 100%;
    max-inline-size: 100%;
    object-fit: contain;
}

.points-group-image__hint {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--control-colour);
    color: var(--control-text-colour);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875em;
    white-space: nowrap;
    pointer-events: none;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
}

.points-group-image:hover .points-group-image__hint {
    opacity: 1;
    visibility: visible;
}
