.round-editor-container {
    display: grid;
    gap: 1.5svh;
    grid-template-rows: 1fr repeat(5, 2fr);
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-auto-flow: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.radio-team-icon input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-team-icon input[type="radio"] + .points-group-image {
    border: 2px solid transparent;
    border-radius: 20px;
}

.radio-team-icon input[type="radio"]:focus + .points-group-image {
    border-color: var(--control-colour-focused);
}

.team-header {
    font-size: 1.25rem;
    color: hsl(from var(--text-colour) h s 90%);
}

.team-leader-header {
    font-size: 1.25rem;
}
