.round-editor-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.round-editor-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.round-editor-column {
    flex: 1;
    text-align: center;
    box-sizing: border-box;
}
  
.round-editor-row .round-editor-column:not(:last-child) {
    margin-right: 10px;
}

.radio-team-icon input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}


.radio-team-icon input + .cards-image {
    border: 2px solid transparent;
    border-radius: 20px;
}

.radio-team-icon input:focus + .cards-image {
    border-color: var(--control-colour-focused);
}
