.points-group-image {
    opacity: 50%;
}

.points-group-image:hover {
    opacity: 70%;
}

.points-group-image.disabled {
    opacity: 20%;
}

.points-group-image.checked {
    opacity: 100%;
}

.points-group-image img {
    height: 9svh;
}
