.finished-game__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    animation: finishedGameFadeIn 0.25s;
}

@keyframes finishedGameFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.finished-game__winner-text {
    text-align: center;
    animation: finishedGameWinnerSpin linear 0.25s 0.25s 8;
    margin-block-start: 10rem;
}

@keyframes finishedGameWinnerSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.finished-game__winner-text * {
    font-size: xx-large;
}

.finished-game__team-scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1svh;
    width: 25%;
}

.finished-game__team-score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.finished-game__controls {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.finished-game__retain-group {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.finished-game__start-game-button {
    align-self: left;
}

.finished-game__start-game-button,
.finished-game__retain-checkbox + label {
    margin-bottom: 5px;
}
