.help {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    animation: helpFadeIn 0.25s;
    block-size: 100%;
    min-block-size: 0;
}

@keyframes helpFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.help__content {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 2rem;
    block-size: 100%;
    min-block-size: 0;
}

.help__rules {
    align-content: center;
}

.help__content button {
    justify-self: center;
}

.help__content p {
    max-width: 65ch;
    padding-left: 2em;
}

.help__rules > img {
    align-self: center;
    border: none;
    border-radius: 8px;
    margin: 15px;
    box-shadow: 0 0 12px rgba(248, 248, 255, 0.6);
}
