.playing-game {
    display: grid;
    grid-template-rows: minmax(0, 1fr) auto;
    gap: 0.25rem;
    block-size: 100%;
    inline-size: 100%;
    min-block-size: 0;
    min-inline-size: 0;
    animation: playingGameFadeIn 0.25s;
}

@keyframes playingGameFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.playing-game__header {
    display: flex;
    justify-content: space-around;
}

.playing-game__round-editor {
    block-size: 100%;
    inline-size: 100%;
    min-block-size: 0;
    min-inline-size: 0;
}

.playing-game__controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.playing-game__controls button#score {
    justify-self: center;
}
