.finished-game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    animation: finishedGameFadeIn 0.25s;
}

@keyframes finishedGameFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.finished-game-winner-text {
    text-align: center;
    animation: finishedGameWinnerSpin linear 0.25s 0.25s 8;
}

@keyframes finishedGameWinnerSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.finished-game-winner-text * {
    font-size: xx-large;
}

.finished-game-team-scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1svh;
    width: 25%;
}

.finished-game-team-score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.finished-game-controls {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.finished-game-retain-group {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.finished-game-start-game-button {
    align-self: left;
}

.finished-game-start-game-button,
.finished-game-retain-checkbox + label {
    margin-bottom: 5px;
}
