.playing-game {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3svh;
    animation: playingGameFadeIn 0.25s;
}

@keyframes playingGameFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.playing-game-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playing-game-controls {
    align-self: center;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playing-game-controls button#score {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.playing-game-controls button#undo {
    margin-right: auto;
}
