:root {
    --text-colour: ghostwhite;
    --text-colour-dark: hsl(from var(--text-colour) h s 90%);
    --text-shadow: 2px 2px 4px var(--text-colour);
    --theme-colour: darkgreen;
    --theme-colour-light: hsl(from var(--theme-colour) h s 30%);
    --control-colour: hsl(from var(--theme-colour) h 50% 75%);
    --control-colour-hover: hsl(from var(--control-colour) h s 50%);
    --control-text-colour: var(--theme-colour);
    --control-border: 1px solid transparent;
    --control-border-focused: 1px solid hsl(from var(--control-colour) h s 50%);
    --control-shadow: 2px 2px 5px var(--text-colour);
    --disabled-colour: silver;
    --disabled-text-colour: darkslategray;
    --glow-colour: #0fa;

    interpolate-size: allow-keywords;
}

html,
body {
    background: radial-gradient(
        circle at left top,
        var(--theme-colour-light),
        var(--theme-colour)
    );
    background-attachment: fixed;
    block-size: 100svh;
    color: var(--text-colour);
}

html {
    font-size: clamp(16px, 1.2vw + 0.5rem, 24px);
}

* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    block-size: 100%;
    justify-items: center;
    gap: 2rem;
}

header,
main,
footer {
    margin-left: 1svw;
    margin-right: 1svw;
}

header {
    margin-top: 1svh;
}

footer {
    align-self: end;
    margin-bottom: 1svh;
}

main {
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border: none;
    background: var(--control-colour);
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    inline-size: fit-content;
    padding: 0.5rem 0.75rem;
    min-inline-size: 2rem;
    min-block-size: 2rem;
}

button:hover {
    background-color: var(--control-colour-hover);
}

button:disabled {
    background-color: var(--disabled-colour);
    color: var(--disabled-text-colour);
}

a {
    color: inherit;
}

a:hover {
    color: var(--text-colour-dark);
}
