:root {
    --text-colour: ghostwhite;
    --text-shadow: 2px 2px 4px var(--text-colour);
    --theme-colour: darkgreen;
    --theme-colour-light: hsl(from var(--theme-colour) h s 30%);
    --control-colour: hsl(from var(--theme-colour) h 50% 75%);
    --control-colour-hover: hsl(from var(--control-colour) h s 50%);
    --control-text-colour: var(--theme-colour);
    --control-border: 1px solid transparent;
    --control-border-focused: 1px solid hsl(from var(--control-colour) h s 50%);
    --control-shadow: 2px 2px 5px var(--text-colour);
    --disabled-colour: silver;
    --disabled-text-colour: darkslategray;
    --glow-colour: #0fa;
}

html,
body {
    background: radial-gradient(
        circle at left top,
        var(--theme-colour-light),
        var(--theme-colour)
    );
    background-attachment: fixed;
}

body {
    min-height: 100svh;
    margin: 0;
    overflow-x: auto;
}

* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
}

#main {
    color: var(--text-colour);
    height: 100svh;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    justify-items: stretch;
    align-items: top;
    gap: 2svh;
}

header,
main,
footer {
    margin-left: 1svw;
    margin-right: 1svw;
}

header {
    margin-top: 1svh;
}

footer {
    align-self: end;
    margin-bottom: 1svh;
}

footer * {
    font-size: small;
}

button {
    border: none;
    background: var(--control-colour);
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

button:hover {
    background-color: var(--control-colour-hover);
}

button:disabled {
    background-color: var(--disabled-colour);
    color: var(--disabled-text-colour);
}
