:root {
    --text-colour: ghostwhite;
    --text-shadow: 2px 2px 4px var(--text-colour);
    --theme-colour: darkgreen;
    --theme-colour-light: hsl(from var(--theme-colour) h s 30%);
    --control-colour: hsl(from var(--theme-colour) h 50% 75%);
    --control-colour-focused: hsl(from var(--control-colour) h s 50%);
    --control-text-colour: var(--theme-colour-light);
    --control-border: 1px solid var(--text-colour);
    --control-shadow: 2px 2px 5px var(--text-colour);
    --disabled-colour: silver;
    --glow-colour: #0fa;
}

body {
    margin: 0px;
}

body * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
}

#main {
    background: radial-gradient(circle at left top, var(--theme-colour-light), var(--theme-colour));
    color: var(--text-colour);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2vh;
}

header, main, footer {
    margin-left: 1vw;
    margin-right: 1vw;
} 

header {
    margin-top: 1vh;
}

main {
    flex-grow: 1;
}

footer { 
    font-size: small;
    margin-bottom: 1vh;
}

button {
    border: none;
    background: var(--control-colour);
    border-radius: 10px;
}

button:disabled {
    background-color: var(--disabled-colour);
}
