div.target-outer {
    display: flex;
    flex-direction: row;
    background-color: var(--control-colour);
    color: var(--control-text-colour);
    font-size: 32pt;
    border: var(--control-border);
    border-radius: 10px;
    border-width: 0;    
    padding-left: 10px;
    padding-right: 10px;
}

div.target-inner {
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: baseline;
    justify-content: space-around;
}

div.target-inner input {
    width: 10vh;
    height: 10vh;

    font-family: Arial, sans-serif;
    font-size: 48px;
    text-align: center;
    vertical-align: middle;
    text-shadow: var(--text-shadow);
    
    background-color: var(--control-colour);
    background-image: none;
    border-radius: 10px;
    border-width: 0;    
    outline: none;
    transition: box-shadow 0.3s ease;
}

div.target-inner input:focus {
    background-color: var(--control-colour-focused); 
}
