# Run acceptance-cycle on develop commits.
#
# Acceptance cycle comprises:
# - run tests
# - release with bumped versions
#
name: Acceptance Cycle

on:
    workflow_run:
        workflows: ["Commit Cycle"]
        branches: [main]
        types:
            - completed

jobs:
    acceptance:
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Test
              run: |
                  cargo clippy
                  cargo test

            - name: Documentation
              run: |
                  cargo doc --no-deps

            - name: Bump version
              run: |
                  git config --global user.email "nigeleke@users.noreply.github.com"
                  git config --global user.name "Nigel Eke"
                  cargo install cargo-workspaces
                  cargo workspaces -v version --allow-branch main --yes patch
