name: CI

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    qa:
        uses: nigeleke/github/.github/workflows/dioxus-qa.yml@main
        with:
            platform: web

    i18n:
        needs: [qa]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: nigeleke/lingora@v0.4.2
