name: CI

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    qa:
        uses: nigeleke/github/.github/workflows/dioxus-qa.yml@main
        with:
            platform: web

    bundle:
        needs: [qa]
        uses: nigeleke/github/.github/workflows/dioxus-bundle.yml@main
        with:
            platform: web

    publish:
        needs: [bundle]
        uses: nigeleke/github/.github/workflows/gh-pages-publish.yml@main
        secrets: inherit
