name: CI

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    qa:
        uses: nigeleke/github/.github/workflows/dioxus-qa.yml@main
        with:
            platform: all

    bundle:
        needs: [qa]
        uses: nigeleke/github/.github/workflows/dioxus-bundle.yml@main
        with:
            platform: all

    publish-docker-image:
        needs: [bundle]
        if: github.ref == 'refs/heads/main'
        runs-on: ubuntu-latest
        env:
            DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
            DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        steps:
            - uses: nigeleke/github/.github/actions/rust-setup@main
            - uses: nigeleke/github/.github/actions/dockerhub-publish@main
              with:
                  platforms: linux/amd64,linux/arm64
                  tags: nigeleke/scopa:latest,nigeleke/scopa:${{ github.sha }}

    publish-site:
        needs: [bundle]
        uses: nigeleke/github/.github/workflows/rust-publish.yml@main
        secrets: inherit

    publish-app:
        needs: [publish-site]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0
            - shell: bash
              run: |
                  echo "Publish App"
                  git status
                  ls .
                  ls target/
